h1 {
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(0, 17, 255);
    font-style: normal;
}

h2 {
    font-size: medium;
    font-weight: bolder;
    color: rgb(255, 0, 234);
    font-style: normal;
}

div {
    font-size: small;
    font-weight: bold;
    color: rgb(9, 54, 9);
    font-style: normal;
}

#patient-container {
    font-size: large;
    font-weight: normal;
    color: darkred;
    font-style: normal;
}

h4 {
    font-size: smaller;
    font-weight: normal;
    color: darksalmon;
    font-style: normal;
}