h1 {
    font-size: large;
    font-weight: bolder;
    color: rgb(0, 17, 255);
    font-style: normal;
}

h2 {
    font-size: medium;
    font-weight: bolder;
    color: aqua;
    font-style: normal;
}

div {
    font-size: small;
    font-weight: bold;
    color: rgb(9, 54, 9);
    font-style: normal;
}